<!-- Barra de navegacion -->
<nav class='navbar navbar-expand-md navbar-dark bg-dark'>
  <div class='container-fluid'>
    <a class='logo navbar-brand' href='/'> CRM - QSD </a>
    <button
      class='navbar-toggler me-2 order-1'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarCRM'
      aria-controls='navbarCRM'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse order-2' id='navbarCRM'>
      <ul class='menu navbar-nav ms-auto mb-2 mb-lg-0' id='btnsNavbar'>
        <li class='nav-item me-4'>
          <button class='btn btn-dark' id='clients' href='#clients'>Clientes</button>
        </li>
        <li class='nav-item me-4'>
          <button class='btn btn-dark' id='clients' href='#meetings'>Reuniones</button>
        </li>
      </ul>
    </div>
  </div>
</nav>