<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12 py-3'>
      <h1>Reuniones</h1>
    </div>
    <div class='col-md-3'>Proxima mente</div>
    <div class='col-md-9'>Proxima mente</div>
  </div>
</div>